<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/home/login.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="login-page">
      <div class="form">
        <form class="login-form">
          <input type="text" placeholder="ID" />
          <input type="text" placeholder="NAME" />
          <input type="password" placeholder="PASSWORD" />
          <input id="confrim-psword" type="pw" placeholder="IS RIGHT?" />
          <button>create</button>
          <p class="message">Already registered? <a href="/login">LogIn</a></p>
        </form>
      </div>
    </div>
  </body>
</html>
